@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.layout {
  width: 90%;
  margin: 0 auto;
  max-width: 68.75rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.navbar-wrapper {
    box-shadow: 0px 0px 15px rgba(251, 72, 0, 0.15);
}

.navbar_logo {
    color: #fb4b00;
    font-size: 1.125rem;
}

.navbar_link {
    font-size: 0.75rem;
}

.navbar_link:hover {
    color: #fd7034;
}

.navbar_link:active {
     color: #a03305;
}

.navbar_link + .navbar_link {
     margin-left: 0.5rem;
}
/* css selector/ Will select whatever adjecent siblings */

.navbar_link--accent {
    color: #fb4b00;
    font-weight: bold;
}

.why {
    background-color: #fff1eb;
    padding: 3rem 0;
    text-align: center;
  }
  
  .why__title {
    margin-bottom: 0.5rem;
  }